In [2]:
import pandas as pd
import os
import json
import pickle
from surprise import Dataset, Reader
from surprise.prediction_algorithms.matrix_factorization import SVD
from surprise import accuracy
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from rapidfuzz import process, fuzz, utils
from fastapi import Request, APIRouter, HTTPException
from typing import List, Dict, Any, Optional
from prometheus_client import Counter, Histogram, CollectorRegistry
import time
from pydantic import BaseModel
from scipy.sparse import csr_matrix
from scipy import sparse
import psycopg2

In [3]:
# CONNECTION A NOTRE BASE DE DONNEES POSTGRES

conn = psycopg2.connect(database="reco_movies",
                        host="localhost",
                        user="antoine",
                        password="datascientest",
                        port="5430")

In [ ]:
cur = conn.cursor()

In [19]:
cur = conn.cursor()

cur.execute("SELECT title FROM movies LIMIT(10)")

rows = cur.fetchall()
for row in rows:
    print(row)

('Toy Story',)
('Jumanji',)
('Grumpier Old Men',)
('Waiting to Exhale',)
('Father of the Bride Part II',)
('Heat',)
('Sabrina',)
('Tom and Huck',)
('Sudden Death',)
('GoldenEye',)

In [4]:
links = pd.read_csv('/home/antoine/jul24_cmlops_reco_film/ml/data/processed/processed_links.csv')

links.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [6]:
movies = pd.read_csv('/home/antoine/jul24_cmlops_reco_film/ml/data/processed/processed_movies.csv')

movies_links_df = movies.merge(links, on = "movieId", how = 'left')

In [7]:
movies_links_df.head()

,movieId,title,genres,year,imdbId,tmdbId
0,1,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995,114709,862
1,2,Jumanji,"['Adventure', 'Children', 'Fantasy']",1995,113497,8844
2,3,Grumpier Old Men,"['Comedy', 'Romance']",1995,113228,15602
3,4,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995,114885,31357
4,5,Father of the Bride Part II,['Comedy'],1995,113041,11862

In [13]:
test= movies_links_df['imdbId'][movies_links_df['movieId']==2]

print(test)

1    113497
Name: imdbId, dtype: int64

In [17]:
recommendations = [1, 2, 3, 4]

imdbId_list = [movies_links_df['imdbId'][movies_links_df['movieId']== i] for i in recommendations]

print(imdbId_list)

[0    114709
Name: imdbId, dtype: int64, 1    113497
Name: imdbId, dtype: int64, 2    113228
Name: imdbId, dtype: int64, 3    114885
Name: imdbId, dtype: int64]

In [18]:
# Méthode 1: Utilisation de loc et tolist()
imdbId_list = movies_links_df.loc[movies_links_df['movieId'].isin(recommendations), 'imdbId'].tolist()

In [19]:
print(imdbId_list)

[114709, 113497, 113228, 114885]

In [ ]:
tmdb_token = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZWY5MGUyOWMzZGQ0ZTg0Y2IzMjdhMWRiMzlhNWY1MSIsIm5iZiI6MTczMTY3MzkyNy4zNDkwNTg0LCJzdWIiOiI2NzI3Y2MwNTU5MTgxMzdjZmMzOTljMmQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.gExSQUL7byxDH4T4WaypusXMFcWOuR4YReVWJMy9wnY"


def api_tmdb_request(external_id : str, extenal_source = 'imdb_id'):
    url = f"https://api.themoviedb.org/3/find/tt0{external_id}?external_source={extenal_source}"

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {tmdb_token}"
    }

    response = requests.get(url, headers=headers)

    response = response.json()

    poster_path = response["movie_results"][0]["poster_path"]
    vote_average = response["movie_results"][0]["vote_average"]

    cover_url = "http://image.tmdb.org/t/p/w185"


    return {"cover_link" : f"{cover_url}{poster_path}" , "vote_average" : vote_average}

In [ ]:
import requests

# Dictionnaire pour stocker les résultats
results_dict = {}

for i in range(4):
    for j in imdbId_list:
        results_dict[i]= api_tmdb_request(j)


print(results_dict)

{0: {'cover_link': 'http://image.tmdb.org/t/p/w185/qJU6rfil5xLVb5HpJsmmfeSK254.jpg', 'vote_average': 6.3}, 1: {'cover_link': 'http://image.tmdb.org/t/p/w185/qJU6rfil5xLVb5HpJsmmfeSK254.jpg', 'vote_average': 6.3}, 2: {'cover_link': 'http://image.tmdb.org/t/p/w185/qJU6rfil5xLVb5HpJsmmfeSK254.jpg', 'vote_average': 6.3}, 3: {'cover_link': 'http://image.tmdb.org/t/p/w185/qJU6rfil5xLVb5HpJsmmfeSK254.jpg', 'vote_average': 6.3}}

In [6]:
import pandas as pd
import os
from tqdm import tqdm
import numpy as np
from dotenv import load_dotenv
import psycopg2
import csv
import os

base_dir = '/home/antoine/jul24_cmlops_reco_film/ml/src/data'
# Construire le chemin vers le répertoire contenant les données traitées
env_dir = os.path.join(base_dir, '..', '..', '..', 'postgres')

# Charger les variables d'environnement depuis le fichier .env
load_dotenv(env_dir)

# Configuration de la base de données
DB_NAME = os.getenv('POSTGRES_DB')
DB_USER = os.getenv('POSTGRES_USER')
DB_PASSWORD = os.getenv('POSTGRES_PASSWORD')
DB_HOST = os.getenv('POSTGRES_HOST')
DB_PORT = os.getenv('POSTGRES_PORT')

In [8]:
print(DB_PASSWORD)

datascientest

In [ ]:
recommendations = [211, 15560, 60, 50]

imdbId_list = [movies_links_df['imdbId'] == str(i)] for i in recommendations]

In [12]:
print(imdbId_list)

[Series([], Name: imdbId, dtype: int64), Series([], Name: imdbId, dtype: int64), Series([], Name: imdbId, dtype: int64), Series([], Name: imdbId, dtype: int64)]

In [20]:
jeton_tmdb = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZWY5MGUyOWMzZGQ0ZTg0Y2IzMjdhMWRiMzlhNWY1MSIsIm5iZiI6MTczMTY3Mzg0My44ODA3MjEzLCJzdWIiOiI2NzI3Y2MwNTU5MTgxMzdjZmMzOTljMmQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.mgm9DChhZ_5BTQyz9MnLnUo12mpM_bsGnVEqXVl-hkw"

In [ ]:
import requests

url = "https://api.themoviedb.org/3/find/external_id?external_source="

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZWY5MGUyOWMzZGQ0ZTg0Y2IzMjdhMWRiMzlhNWY1MSIsIm5iZiI6MTczMTY3MzkyNy4zNDkwNTg0LCJzdWIiOiI2NzI3Y2MwNTU5MTgxMzdjZmMzOTljMmQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.gExSQUL7byxDH4T4WaypusXMFcWOuR4YReVWJMy9wnY"
}

response = requests.get(url, headers=headers)

print(response.text)