In [1]:
import os
import pandas as pd
import json
import pickle
from surprise.prediction_algorithms.matrix_factorization import SVD
import numpy as np
from rapidfuzz import process
from fastapi import APIRouter, HTTPException
from typing import Dict, Any, Optional
from prometheus_client import Counter, Histogram, CollectorRegistry
import time
from pydantic import BaseModel
import requests
import logging

In [2]:
# ENSEMBLE DES FONCTIONS UTILISEES

# Ouverture fichier ratings
def read_ratings(data_dir: str = "/home/antoine/PROJET_MLOPS_RECO_MOVIES/data/raw/silver/processed_ratings.csv") -> pd.DataFrame:
    """
    Lit le fichier CSV contenant les évaluations des films.

    :param ratings_csv: Nom du fichier CSV contenant les évaluations.
    :param data_dir: Répertoire où se trouve le fichier CSV.
    :return: DataFrame contenant les évaluations.
    """
    data = pd.read_csv(data_dir)
    print("Dataset ratings chargé")
    return data

# Ouverture fichier movies
def read_movies(data_dir: str = "/home/antoine/PROJET_MLOPS_RECO_MOVIES/data/raw/silver/processed_movies.csv") -> pd.DataFrame:
    """
    Lit le fichier CSV contenant les informations sur les films.

    :param movies_csv: Nom du fichier CSV contenant les informations sur les films.
    :param data_dir: Répertoire où se trouve le fichier CSV.
    :return: DataFrame contenant les informations sur les films.
    """
    df = pd.read_csv(data_dir)
    print("Dataset movies chargé")
    return df

# Ouverture fichier links
def read_links(data_dir: str = "/home/antoine/PROJET_MLOPS_RECO_MOVIES/data/raw/silver/processed_links.csv") -> pd.DataFrame:
    """
    Lit le fichier CSV contenant les informations sur les liens des affiches scrappés.

    :param links_csv: Nom du fichier CSV contenant les liens des affiches.
    :param data_dir: Répertoire où se trouve le fichier CSV.
    :return: DataFrame contenant movieId et lien vers les affiches.
    """
    df = pd.read_csv(data_dir)
    print("Dataset links chargé")
    return df

# Chargement du dernier modèle
def load_model(model_name : str, directory = "/home/antoine/PROJET_MLOPS_RECO_MOVIES/data/models") :
    """Charge le modèle à partir d'un répertoire."""
    # Vérifier si le répertoire existe
    if not os.path.exists(directory):
        raise FileNotFoundError(f"Le répertoire {directory} n'existe pas.")
    # Charger le modèle
    filepath = os.path.join(directory, model_name)
    with open(filepath, 'rb') as file:
        model = pickle.load(file)
        print(f'Modèle chargé depuis {filepath}')
    return model

In [3]:
ratings = read_ratings()

ratings.head()

Dataset ratings chargé

   userid  movieid  rating   timestamp  bayesian_mean
0       1        2     3.5  1112486027           3.21
1       1       29     3.5  1112484676           3.89
2       1       32     3.5  1112484819           3.89
3       1       47     3.5  1112484727           4.04
4       1       50     3.5  1112484580           4.32

In [4]:
movies = read_movies()
movies.head()

Dataset movies chargé

,movieid,title,genres,year
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995
1,2,Jumanji,"Adventure, Children, Fantasy",1995
2,3,Grumpier Old Men,"Comedy, Romance",1995
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995
4,5,Father of the Bride Part II,Comedy,1995

In [5]:
links = read_links()

links.head()

Dataset links chargé

   movieid  imdbid  tmdbid
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [6]:
tmdb_token = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZWY5MGUyOWMzZGQ0ZTg0Y2IzMjdhMWRiMzlhNWY1MSIsIm5iZiI6MTczMTAwMjkyOC44MzM2NTczLCJzdWIiOiI2NzI3Y2MwNTU5MTgxMzdjZmMzOTljMmQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.rfjWSNDMqPka_PXWbTKEUt6pVHg4g_7nukU7yYU1Img"


# Fonction pour obtenir des recommandations pour un utilisateur donné
def get_user_recommendations(
    ratings_df, user_id: int, model: SVD, n_recommendations: int = 24
):
    """Obtenir des recommandations pour un utilisateur donné."""
    # Créer un DataFrame contenant tous les films
    all_movies = ratings_df["movieid"].unique()

    # Obtenir les films déjà évalués par l'utilisateur
    rated_movies = ratings_df[ratings_df["userid"] == user_id]["movieid"].tolist()

    # Trouver les films non évalués par l'utilisateur
    unseen_movies = [movie for movie in all_movies if movie not in rated_movies]

    # Préparer les prédictions pour les films non évalués
    predictions = []
    for movie_id in unseen_movies:
        pred = model.predict(user_id, movie_id)
        predictions.append(
            (movie_id, pred.est)
        )  # Ajouter l'ID du film et la note prédite

    # Trier les prédictions par note prédite (descendant) et prendre les meilleures n_recommendations
    top_n = sorted(predictions, key=lambda x: x[1], reverse=True)[:n_recommendations]
    top_n = [i[0] for i in top_n]
    return top_n  # Retourner les meilleures recommandations


# Focntion qui regroupe les recommandations
def get_content_based_recommendations(movie_idx, cosine_sim, n_recommendations=24):
    sim_scores = list(enumerate(cosine_sim[movie_idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1 : (n_recommendations + 1)]
    similar_movies = [i[0] for i in sim_scores]
    return similar_movies


def format_movie_id(movie_id):
    """Transforme en ImdbId et  Formate l'ID du film pour qu'il ait 7 chiffres."""
    imdbid_format = str(movie_id).zfill(7)  # Formate l'ID pour qu'il ait 7 chiffres
    return imdbid_format

def api_tmdb_request(movie_ids):
    """Effectue des requêtes à l'API TMDB pour récupérer les informations des films."""
    results = {}

    for movie_id in movie_ids:
        formatted_id = format_movie_id(movie_id)
        url = f"https://api.themoviedb.org/3/find/tt{formatted_id}?external_source=imdb_id"

        headers = {
            "accept": "application/json",
            "Authorization": f"Bearer {tmdb_token}",
        }

        response = requests.get(url, headers=headers)

        if response.status_code == 200:
            data = response.json()
            if data["movie_results"]:
                index = len(results) + 1
                movie_info = data["movie_results"][0]
                results[str(index)] = {
                    "title": movie_info["title"],
                    "vote_average": movie_info["vote_average"],
                    "poster_path": f"http://image.tmdb.org/t/p/w185{movie_info['poster_path']}",
                }

        # Vérifie si nous avons atteint 12 résultats
        if len(results) >= 12:
            break

    return results


# Recherche un titre proche de la requête
def movie_finder(all_titles, title):
    """
    Trouve le titre de film le plus proche d'une requête donnée.

    Args:
        all_titles (list): Liste de tous les titres de films disponibles.
        title (str): Titre du film à rechercher.

    Returns:
        str: Le titre du film le plus proche trouvé.
    """
    closest_match = process.extractOne(title, all_titles)
    return (
        closest_match[0] if closest_match else None
    )  # Retourne None si aucun match n'est trouvé

In [7]:
model_svd = load_model("model_SVD.pkl")
# Chargement de la matrice cosinus similarity
similarity_cosinus = np.load("/home/antoine/PROJET_MLOPS_RECO_MOVIES/data/models/cosine_similarity_matrix.npy")
# Création d'un dataframe pour les liens entre les films et les ID IMDB
movies_links_df = movies.merge(links, on="movieid", how="left")
# Création de dictionnaires pour faciliter l'accès aux titres et aux couvertures des films par leur ID
movie_idx = dict(zip(movies["title"], list(movies.index)))
# Création de dictionnaires pour accéder facilement aux titres et aux couvertures des films par leur ID
movie_titles = dict(zip(movies["movieid"], movies["title"]))
# Créer un dictionnaire pour un accès rapide
imdb_dict = dict(zip(movies_links_df["movieid"], movies_links_df["imdbid"]))
# Créer une liste de tous les titres de films
all_titles = movies["title"].tolist()

print("############ FIN DES CHARGEMENTS ############")

Modèle chargé depuis /home/antoine/PROJET_MLOPS_RECO_MOVIES/data/models/model_SVD.pkl
############ FIN DES CHARGEMENTS ############

In [8]:
user_id = 501
df_user = ratings[ratings["userid"] == user_id]
df_user = df_user.sort_values(by="rating", ascending=False)
best_movies = df_user.head(3)

In [9]:
best_movies.head()

       userid  movieid  rating  timestamp  bayesian_mean
71574     501     1356     5.0  865588997           3.65
71565     501      780     5.0  865588940           3.37
71573     501     1061     5.0  865589080           3.60

In [10]:
imdb_list = [
            imdb_dict[movie_id]
            for movie_id in best_movies["movieid"]
            if movie_id in imdb_dict
        ]

print(imdb_list)

[117731, 116629, 117665]

In [37]:
results = api_tmdb_request(imdb_list)
print(results)

{'1': {'title': 'Star Trek: First Contact', 'vote_average': 7.29, 'poster_path': 'http://image.tmdb.org/t/p/w185/vrC1lkTktFQ4AqBfqf4PXoDDLcw.jpg'}, '2': {'title': 'Independence Day', 'vote_average': 6.891, 'poster_path': 'http://image.tmdb.org/t/p/w185/p0BPQGSPoSa8Ml0DAf2mB2kCU0R.jpg'}, '3': {'title': 'Sleepers', 'vote_average': 7.604, 'poster_path': 'http://image.tmdb.org/t/p/w185/yUpiEk2EojS9ZEXb3nIQonQCYYF.jpg'}}

In [11]:
def api_tmdb_request(movie_ids):
    """Effectue des requêtes à l'API TMDB pour récupérer les informations des films."""
    results = {}

    for movie_id in movie_ids:
        formatted_id = format_movie_id(movie_id)
        url = f"https://api.themoviedb.org/3/find/tt{formatted_id}?external_source=imdb_id"

        headers = {
            "accept": "application/json",
            "Authorization": f"Bearer {tmdb_token}",
        }

        response = requests.get(url, headers=headers)

        if response.status_code == 200:
            data = response.json()
            if data["movie_results"]:
                index = len(results) + 1
                movie_info = data["movie_results"][0]
                results[str(index)] = {
                    "title": movie_info["title"],
                    "vote_average": movie_info["vote_average"],
                    "poster_path": f"http://image.tmdb.org/t/p/w185{movie_info['poster_path']}",
                }

        # Vérifie si nous avons atteint 12 résultats
        if len(results) >= 12:
            break

    return results

In [12]:
for movie_id in imdb_list:
    formatted_id = format_movie_id(movie_id)

print(formatted_id)

0117665

In [13]:
recommendations = get_user_recommendations(
            ratings, user_id, model_svd, n_recommendations=24
        )

print(recommendations)

[79842, 97300, 113315, 100553, 106334, 85012, 88570, 25987, 27423, 116136, 68175, 117364, 70978, 26674, 73818, 26109, 318, 47084, 95604, 109925, 27611, 3147, 96460, 82121]

In [14]:
imdb_list = [
            imdb_dict[movie_id] for movie_id in recommendations if movie_id in imdb_dict
        ]

print(imdb_list)

[1671630, 266010, 3576084, 2092588, 2262456, 56322, 73887, 46851, 271383, 3012698, 318413, 3455224, 92550, 98898, 115928, 57591, 111161, 388505, 996994, 56628, 314979, 120689, 83316, 39080]

In [15]:
results = api_tmdb_request(imdb_list)

print(results)

{'1': {'title': 'For Neda', 'vote_average': 6.8, 'poster_path': 'http://image.tmdb.org/t/p/w185/4mR78UfKMwCPx0rldYOEbegh0Wz.jpg'}, '2': {'title': 'Björk: Volumen', 'vote_average': 8.3, 'poster_path': 'http://image.tmdb.org/t/p/w185/jhFdZGOmkIZCRIjoaGUbHAwXsi0.jpg'}, '3': {'title': 'Zero Motivation', 'vote_average': 6.5, 'poster_path': 'http://image.tmdb.org/t/p/w185/o47GwtgXRD6k8qxcJseQK2Fa9C0.jpg'}, '4': {'title': 'The Given Word', 'vote_average': 8.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/cN8Lk5bm4dQX8enBPP5LxQRdn9k.jpg'}, '5': {'title': 'Welfare', 'vote_average': 7.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/1eFgNI93rRSOFZZ9cajF3tMmGPc.jpg'}, '6': {'title': 'The Crucified Lovers', 'vote_average': 7.8, 'poster_path': 'http://image.tmdb.org/t/p/w185/3FTzr49lQKouUEutQRX5bqMCO4C.jpg'}, '7': {'title': "A Dog's Will", 'vote_average': 8.4, 'poster_path': 'http://image.tmdb.org/t/p/w185/wdnRsioGMCntvV9VXR1TBhFemDd.jpg'}, '8': {'title': 'The Magic of Méliès', 'vote_average': 7.0, 'poster_path': 'http://image.tmdb.org/t/p/w185/8YJYWvaN8Kg8HFtwvKxOMCfMNml.jpg'}, '9': {'title': 'Virunga', 'vote_average': 7.905, 'poster_path': 'http://image.tmdb.org/t/p/w185/b59YdJZyRUu04hnWdmmz4kPjbTF.jpg'}, '10': {'title': 'Boyfriends and Girlfriends', 'vote_average': 7.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/A0QmIeAuEgDRMZXJQlu0VUXMWdx.jpg'}, '11': {'title': 'My Sex Life... or How I Got Into an Argument', 'vote_average': 6.5, 'poster_path': 'http://image.tmdb.org/t/p/w185/sWGTIBFAVoYki1wCnlLqTPc6xZX.jpg'}, '12': {'title': 'Crooks in Clover', 'vote_average': 7.733, 'poster_path': 'http://image.tmdb.org/t/p/w185/1uYCIsMpX7FtWu2xO1YMIAQYvLR.jpg'}}

In [65]:
n_recommendations=10
sim_scores = list(enumerate(cosine_sim[idx]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:(n_recommendations+1)]
similar_movies = [i[0] for i in sim_scores]

In [66]:
print(f"Because you watched {title}:")
movies['title'].iloc[similar_movies]

Because you watched Toy Story:

2209                                                 Antz
3027                                          Toy Story 2
3663              Adventures of Rocky and Bullwinkle, The
3922                            Emperor's New Groove, The
4790                                       Monsters, Inc.
10114    DuckTales: The Movie - Treasure of the Lost Lamp
10987                                           Wild, The
11871                                     Shrek the Third
13337                             Tale of Despereaux, The
18274    Asterix and the Vikings (Astérix et les Vikings)
Name: title, dtype: object

In [69]:
def get_content_based_recommendations(title_string, n_recommendations=10):
    title = movie_finder(all_titles, title_string)
    idx = movie_idx[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:(n_recommendations+1)]
    similar_movies = [i[0] for i in sim_scores]
    return similar_movies

In [71]:
similar_movies = get_content_based_recommendations('toy story', 10)
print(similar_movies)
print(f"Because you watched {title}:")
print(movies['title'].iloc[similar_movies])

[2209, 3027, 3663, 3922, 4790, 10114, 10987, 11871, 13337, 18274]
Because you watched Toy Story:
2209                                                 Antz
3027                                          Toy Story 2
3663              Adventures of Rocky and Bullwinkle, The
3922                            Emperor's New Groove, The
4790                                       Monsters, Inc.
10114    DuckTales: The Movie - Treasure of the Lost Lamp
10987                                           Wild, The
11871                                     Shrek the Third
13337                             Tale of Despereaux, The
18274    Asterix and the Vikings (Astérix et les Vikings)
Name: title, dtype: object

In [16]:
# Focntion qui regroupe les recommandations
def get_content_based_recommendations(all_titles, title_string, cosine_sim, n_recommendations=15):
    title = movie_finder(all_titles, title_string)
    idx = movie_idx[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:(n_recommendations+1)]
    similar_movies = [i[0] for i in sim_scores]
    return similar_movies

In [17]:
title = 'toy story'
recommendations = get_content_based_recommendations(movie_titles, title, similarity_cosinus, n_recommendations=24)
print(recommendations)

[2209, 3027, 3663, 3922, 4790, 10114, 10987, 11871, 13337, 18274, 21355, 24092, 24156, 24458, 24460, 24849, 27270, 664, 4211, 7814, 8780, 10367, 11187, 11704]

In [25]:
movies_id = [movies['movieid'].iloc[i] for i in recommendations]
print(movies_id)
print(movies['title'].iloc[recommendations])

[2294, 3114, 3754, 4016, 4886, 33463, 45074, 53121, 65577, 91355, 103755, 114240, 114552, 115875, 115879, 117454, 131248, 673, 4306, 8444, 26340, 36397, 47124, 51632]
2209                                                  Antz
3027                                           Toy Story 2
3663               Adventures of Rocky and Bullwinkle, The
3922                             Emperor's New Groove, The
4790                                        Monsters, Inc.
10114     DuckTales: The Movie - Treasure of the Lost Lamp
10987                                            Wild, The
11871                                      Shrek the Third
13337                              Tale of Despereaux, The
18274     Asterix and the Vikings (Astérix et les Vikings)
21355                                                Turbo
24092                                              Aladdin
24156                                       Boxtrolls, The
24458                   Toy Story Toons: Hawaiian Vacation
24460                           Toy Story Toons: Small Fry
24849                                    The Magic Crystal
27270                                       Brother Bear 2
664                                              Space Jam
4211                                                 Shrek
7814                               Chipmunk Adventure, The
8780     Twelve Tasks of Asterix, The (Les douze travau...
10367                                              Valiant
11187                                       Ant Bully, The
11704                             Atlantis: Milo's Return
Name: title, dtype: object

In [21]:
imbd_4790 = imdb_dict[4790]
print(imbd_4790)

75132

In [26]:
imdb_list = [
            imdb_dict[movie_id] for movie_id in movies_id if movie_id in imdb_dict
        ]

print(imdb_list)

[120587, 120363, 131704, 120917, 198781, 99472, 405469, 413267, 420238, 371552, 1860353, 827990, 787474, 1850374, 2033372, 986361, 465925, 117705, 126029, 92752, 72901, 361089, 429589, 344864]

In [85]:
test = links[links['movieid'] == 4790
             ]

test

      movieid  imdbid  tmdbid
4694     4790   75132   35200

In [27]:
results = api_tmdb_request(imdb_list)
print(results)

{'1': {'title': 'Antz', 'vote_average': 6.163, 'poster_path': 'http://image.tmdb.org/t/p/w185/pvpJfkzcqENTSlBKCSImi05WlXK.jpg'}, '2': {'title': 'Toy Story 2', 'vote_average': 7.6, 'poster_path': 'http://image.tmdb.org/t/p/w185/yFWQkz2ynjwsazT6xQiIXEUsyuh.jpg'}, '3': {'title': 'The Adventures of Rocky & Bullwinkle', 'vote_average': 4.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/xCFSsftt2rglC81I6QLWcZSTCBM.jpg'}, '4': {'title': "The Emperor's New Groove", 'vote_average': 7.56, 'poster_path': 'http://image.tmdb.org/t/p/w185/xU635vn1lMD9DWDloeuKmuhxxnQ.jpg'}, '5': {'title': 'Monsters, Inc.', 'vote_average': 7.844, 'poster_path': 'http://image.tmdb.org/t/p/w185/qjlbN6aK1qgeg3SspFVovT2D1Me.jpg'}, '6': {'title': 'DuckTales: The Movie - Treasure of the Lost Lamp', 'vote_average': 6.7, 'poster_path': 'http://image.tmdb.org/t/p/w185/wCvdRynGJQWaOi2qwQP5nDdFxjM.jpg'}, '7': {'title': 'The Wild', 'vote_average': 5.533, 'poster_path': 'http://image.tmdb.org/t/p/w185/sxqzaOto1qyUseSg6YpIP9Su5lp.jpg'}, '8': {'title': 'Shrek the Third', 'vote_average': 6.298, 'poster_path': 'http://image.tmdb.org/t/p/w185/n4SexGGQzI26E269tfpa80MZaGV.jpg'}, '9': {'title': 'The Tale of Despereaux', 'vote_average': 6.098, 'poster_path': 'http://image.tmdb.org/t/p/w185/6bBzgQ1uJabDHeGR9QvKrHvHYzG.jpg'}, '10': {'title': 'Asterix and the Vikings', 'vote_average': 6.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/dW9h1Ez6PRx8PnZUVT27MnG8Wu5.jpg'}, '11': {'title': 'Turbo', 'vote_average': 6.2, 'poster_path': 'http://image.tmdb.org/t/p/w185/inTKQni4YW8syrfgnXHwzmNeSo4.jpg'}, '12': {'title': 'Aladdin', 'vote_average': 6.1, 'poster_path': 'http://image.tmdb.org/t/p/w185/6NGjDdErVOmnoqLnjh0ouRfxerS.jpg'}}

In [89]:
formatted_id = format_movie_id(75132)
formatted_id

'0075132'

In [90]:
url = f"https://api.themoviedb.org/3/find/tt{formatted_id}?external_source=imdb_id"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {tmdb_token}",
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()
    print(data)

{'movie_results': [{'backdrop_path': '/1Nas9syOK93PltBGVjXJi9QvxM3.jpg', 'id': 35200, 'title': 'The Return of a Man Called Horse', 'original_title': 'The Return of a Man Called Horse', 'overview': "Lord John Morgan has returned to civilized life in England, but finds he has nothing but disdain for that life. Yearning to embrace the simplicity of the American West-and the Yellow Hands Sioux tribe he left behind, Morgan returns to the tribe's land only to discover that they've been decimated by ruthless, government-backed fur traders. Led by Horse, they fight to repossess their land.", 'poster_path': '/qOoLZCDwt3tOyFNv4MRAVvrSFiM.jpg', 'media_type': 'movie', 'adult': False, 'original_language': 'en', 'genre_ids': [37, 12], 'popularity': 8.947, 'release_date': '1976-06-28', 'video': False, 'vote_average': 5.6, 'vote_count': 54}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}

In [24]:
titre = movies[movies['title'] == 'Monsters, Inc.']
titre

,movieid,title,genres,year
4790,4886,"Monsters, Inc.","Adventure, Animation, Children, Comedy, Fantasy",2001

In [22]:
movies.head()

,movieid,title,genres,year
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995
1,2,Jumanji,"Adventure, Children, Fantasy",1995
2,3,Grumpier Old Men,"Comedy, Romance",1995
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995
4,5,Father of the Bride Part II,Comedy,1995